<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Posts</title>
</head>
<body>
    <%-include('layouts/nav.ejs'); -%>
    <h1>Post Details</h1>
    
       <h1>post title:<%=blogPost.title%></h1>
        <h3><%=blogPost.body%></h3>

        <a href="#"><%= blogPost.username %></a>
<span> <%= blogPost.datePosted.toDateString() %></span>
<img src="../public/img/pic1.png" alt='logo' />
       
        
   
    
</body>
</html>